.songInfo {
  padding: 24px 56px;
  z-index: 1;
}

.songImg {
  align-items: center;
  justify-content: center;
}

.songTime {
  justify-content: space-between;
}

.songDetail {
  justify-content: space-between;
  align-items: center;
}

.song-title {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  font-size: large;
}

.song-artist {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 600;
}
