.cell-item {
  background-color: #f3f7f9;
}

.avatar-container {
  align-items: center;
  justify-content: center;
  position: relative;
}

.change-btn {
  z-index: 1;
}

.uploader {
  justify-content: center;
  align-items: center;
}
