.profile-edit {
  gap: 32px;
}

.btn-container {
  padding: 0 32px;
}

.btn {
  background-color: #e51419;
  color: #f6f6f6;
  font-weight: 500;
  font-size: large;
  border-radius: 16px;
  padding: 48px 0;
}
