.taroify-slider__thumb {
  height: 16px;
  width: 16px;
}

.playerControls {
  padding: 24px 56px;
  z-index: 1;
}

.songProcess {
  position: relative;
}

.slider-wrapper {
  position: absolute;
  left: 0;
  right: 0;
}

.slider {
  position: relative;
}

/* 使用伪元素模拟动画 */
.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1; /* 确保不影响滑块交互 */
}

.slider.buffered::before {
  width: 100%; /* 从左到右填充 */
  transition: width 1s ease-in; /* 仅在宽度增大时有动画 */
}

/* 非淡入状态（淡出）无动画 */
.slider:not(.buffered)::before {
  transition: none; /* 移除淡出动画 */
}

.songTime {
  justify-content: space-between;
  padding-top: 24px;
}

.progress-text {
  color: rgba(255, 255, 255, 0.4);
  font-size: small;
  font-weight: 500;
}

.songButtonGroupsWrapper {
  align-items: center;
  justify-content: center;
}

.songButtonGroups {
  justify-content: space-between;
  padding: 0 120px;
  align-items: center;
}

.control-button {
  opacity: 0.85;
}
