.taroify-slider__thumb {
  height: 30px;
  width: 30px;
}
.playerControls {
  height: 100%;
}
.songProcess {
  height: 60%;
  margin-top: 60px;
  padding: 0 48px;
}
.songButtonGroups {
  justify-content: space-between;
  padding: 0 120px;
  height: 40%;
}
