// components/MiniPlayer/index.scss
.mini-player {
  position: fixed;
  padding-right: 32px;
  left: 32px;
  right: 32px;
  bottom: 0; // 高于原生 tabBar
  background: white;
  z-index: 1;
  border-radius: 50px;
  gap: 20px;
  background-color: rgba(250, 252, 255, 0.8); // 半透明背景
  backdrop-filter: blur(10px); // 毛玻璃核心
}

.song-title-container {
  align-items: center;
  gap: 16px;
}

.song-title {
  font-weight: 500;
  font-size: 32px;
}

.singer {
  font-weight: 400;
  font-size: 32px;
  color: #999;
}

.icon-container {
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.cover-container {
  align-items: center;
  justify-content: center;
  height: 85px;
  width: 85px;
  background-color: black;
  border-radius: 50px;
}

.cover {
  border-radius: 50px;
}
