// components/MiniPlayer/index.scss
.mini-player {
  position: fixed;
  padding-right: 32px;
  left: 32px;
  right: 32px;
  bottom: 0; // 高于原生 tabBar
  background: white;
  z-index: 1;
  border-radius: 50px;
  gap: 0;
  background-color: rgba(250, 252, 255, 0.8); // 半透明背景
  backdrop-filter: blur(10px); // 毛玻璃核心
}

.line-wrapper {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 16px;
  align-items: center;
}

.song-title {
  color: #000;
  display: inline;
  white-space: nowrap;
  font-weight: 500;
  font-size: 32px;
}

.singer {
  font-size: 28px;
  color: #999;
}

.icon-container {
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.cover-container {
  align-items: center;
  justify-content: center;
  height: 85px;
  width: 85px;
  background-color: black;
  border-radius: 50px;
}

.cover {
  border-radius: 50px;
}
